{% extends "base.html" %}

{% block content %}
  <h1>Kontakt hinzufügen</h1>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.name.label(class="form-label") }}
      {{ form.name(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.phone.label(class="form-label") }}
      {{ form.phone(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.address.label(class="form-label") }}
      {{ form.address(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}